#staff {
    font-size: 36pt;
    -webkit-user-select: none;
    text-align: center;
    margin: 20px 0;
}

// HACK(dean): Temporarily removing our social strategy.
#staff-url, .tweetButton {
    display: none !important;
}

#staff-url {
    display: inline-block;
}

#staff-url .url {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

#staff-url #play-button {
    display: inline-block;
    vertical-align: top;
}

.measure {
    width: 1em;
    display: inline-block;
    vertical-align: top;
}

.measure b {
    display: block;
    height: 1em;
    width: 1em;
    position: relative;
    border-bottom: 2px solid #aaa;
}

/*
.measure b:after {
    content: '';
    position: absolute;
    top: -42%;
    left: 0;
    width: 1em;
    height: 1em;
    z-index: -1;
}
*/

.measure b.cursor {
    background-color: red;
}
